
.pixel-art-button {
  background-size: 100% 100%;
  color: #fff7ea;
  text-shadow: 2px 2px #3b2111;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  image-rendering: pixelated;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: transform 0.1s ease-in-out;
}

.pixel-art-button:hover {
  transform: translateY(-2px);
}

.dialogue-bubble {
  background-size: 100% 100%;
  image-rendering: pixelated;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff7ea;
  text-shadow: 1px 1px #3b2111;
}

.layan-sprite {
  width: 160px;
  height: 220px;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  /* Spritesheet has 12 frames of 160x220. Total width 1920px. */
  background-size: 1920px 220px;
  background-position: 0 0; /* Frame 0 */
}
